# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# DEV = 개발 환경
ENV=dev
PROD=prod
REPO_BASE_PATH=
REPO_LOCAL_TEST_PATH=/Users/gimnayeon/data/git

# DATABASE
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=15432
DB_USERNAME=pingmong
DB_PASSWORD=l6OS9cw1kDKLwjk
DB_DATABASE=community